@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You are not allowed to do this function!</h2>

<div class="mt-4">
    <a asp-page="/Login" class="btn btn-primary">Back to Login Form</a>
</div>
